html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-width: 780px;
    background-color: #333;
}

#content {
  background-image: url("img/grill.jpg");
  background-repeat: no-repeat;
  background-size: 1700px 1100px;
  height: 620px;
}

#logins, #getJokes {
  width: 66%;
  min-width: 400px;
  float: right;
  height: 50px;
  background-color: white;
  border-bottom: 1px solid black;
}

#info{
  display: block;
  height: 60px;
  width: 90%;
  margin: auto;
  margin-top: 54px;
  margin-bottom: 4px;
  border: 2px solid black;
  background-color: #b11;
}

#info p{
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: center;
  color: white;
  padding-left: 3px;
  padding-right: 3px;
}

#makeJoke {
  width: 90%;
  margin: auto;
  background-color: #131;
  border: 2px solid black;
  margin-top: 60px;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
    margin-left: 3px;
}

nav {
    width: 34%;
    min-width: 230px;
    height: 50px;
    background-color: white;
    float: left;
    border-bottom: 1px solid black;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    border-color: #222;
    background-color: #888;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #b11;
}

.randomJoke {
    margin: auto;
    transition: background-color 0.4s ease;
    display: inline;
    width: 200px;
    height: 40px;
    background-color: #888;
    border-radius: 1px;
    border-color: black;
    color: white;
    text-decoration: none;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 1.1em;
}

.randomJoke:link, .randomJoke:visited, .randomJoke:hover, .randomJoke:active,  {
    color: white;
}

.randomJoke:hover {
    transition: background-color 0.4s ease;
    background-color: #b11;
}

.jokeForm {
    border: 2px solid black;
    width: 90%;
    height: 40px;
    margin: auto;
    margin-top: 10px;
    padding-top: 10px;
    background-color: #261;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: 10px;
}

.jokeForm label {
    display: inline-block;
    width: 50px;
    margin-left: 10px;
    font-size: 1.2em;
    float: left;
    color: black;
}

.jokeForm input[type=text] {
    float: left;
    width: 70%;
    height: 25px;
    border: 1px solid black;
}

.makeJokeSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 100px;
    height: 25px;
    margin-right:8px;
    background-color: #888;
    border-radius: 1px;
    border-color: black;
    color: white;
    text-decoration: none;
    float: right;
}

.makeJokeSubmit:link, .makeJokeSubmit:visited, .makeJokeSubmit:hover, .makeJokeSubmit:active {
    color: white;
}

.makeJokeSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #b11;
}

.mainForm {
    height: 50px;
    min-width: 450px;
    font-size: 1.2em;
    margin-top: 10px;
    float: right;
}

.mainForm h3 {
    text-align: none;
}

.mainForm label {
    display: inline;
    width: 80px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: left;
    font-size: 1em;
    float: left;
}

.formSubmit {
    transition: background-color 0.3s ease;
    text-align: center;
    width: 65px;
    margin-left: 5px;
    margin-right: 5px;
    height: 30px;
    font-size: .9em;
    background-color: #888;
    border-radius: 2px;
    border-color: #222;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.3s ease;
    background-color: #b11;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1em;
    width: 100px;
    border-radius: 6px;
    float: left;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #333;
}

.getJoke {
  display: inline;
  text-align: center;
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 7px;
  padding-top: 5px;
  height: 25px;
  background-color: #888;
  border-radius: 2px;
  border: 2px solid black;
  color: black;
  font-size: 1em;
  text-decoration: none;
  transition: background-color 0.3s ease;
  background-color: #b11;
  float: right;
}

.getJoke:hover {
  transition: background-color 0.3s ease;
  background-color: green;
}

#domoMessage {
    display:none;
    top: 100px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#domoMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#dad {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 350px;
    width: 250px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#passwordChange{
  width: 90%;
  margin: auto;
  text-align: center;
  margin-top: 60px;
}

#passwordChange label, #passwordChange input{
  font-size: 1.2em;
  display: block;
  margin: auto;
}

#passwordChange input{
  border: 1px solid black;
  transition: background-color 0.3s ease;
  background-color: #eee;
  border-radius: 5px;
  margin-bottom: 10px;
}

#passwordChange input:hover{
  transition: background-color 0.3s ease;
  background-color: #bbb
}

.changePasswordSubmit{
  width: 200px;
  height: 40px;
  margin-top: 15px;
  border: 1px solid black;
  transition: background-color 0.3s ease;
  background-color: #666;
  border-radius: 5px;
}

.changePasswordSubmit:hover{
  transition: background-color 0.3s ease;
  background-color: #bbb;
}

#jokes {
    width: 40%;
    min-width: 400px;
    border: 2px solid #000;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #444;
}

.joke {
    width: 95%;
    margin: 0 auto;
    margin-top: 3px;
    margin-bottom: 3px;
    border: 2px solid #333;
    border-radius: 4px;
    background-color: #666;
    padding: 1%;
    min-height:60px;
    overflow: hidden;
}

.joke:hover {
    border-color: #fff;
    transition: background-color 1.6s ease-out;
    background-color: #bbb;
}

h3.emptyJoke {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3.jokePunch {
    float:left;
    width: 200px;
    font-weight: bold;
    padding-left: 65px;
    font-size: 1.5em;
    overflow: hidden;
}

.jokeScore {
  float: right;
  width: 50px;
  height: 50px;
  background-color: #888;
  color: black;
  margin-right: 10px;
  text-align: center;
  font-size: 2.5em;
  border: 1px solid black;
}

.joke:first-child {
    margin-top: 10px;
}

.joke:last-child {
    margin-bottom:10px;
}

#jokesTitle, #profileHeader {
  text-align: center;
  width: 40%;
  margin: auto;
  margin-top: 20px;
  border: 2px solid black;
  background-color: #666;
  padding: 5px;
}

#profileHeader {
  margin-top: 70px;
}

#jokeView{
  height: 680px;
  transition: background-color 1.4s ease-out;
}

#jokeScroll{
  height: 60px;
  background-color: black;
  text-align: center;
}

.displayJoke{
  text-align: center;
  vertical-align: middle;
  height: 300px;
  width: 80%;
  margin: auto;
  padding-top: 200px;
  font-size: 3em;
  overflow: visible;
}

.like, .dislike{
  width: 100px;
  border: 2px solid black;
  border-radius: 10px;
}

.like:hover, .dislike:hover{
  cursor: pointer;
}

.dislike{
  float: left;
  margin-left: 10px;
}

.like{
  float: right;
  margin-right: 10px
}

.nextJoke, .viewProfile{
  width: 160px;
  height: 40px;
  margin-top: 10px;
  border: 3px solid white;
  background-color: #999;
  font-size: 1.2em;
  transition: background-color 1.4s ease-out;
  transition: color 1.6s ease-out;
  border-radius: 20px;
  margin-right: 50px;
  margin-left: 50px;
}

.nextJoke:hover, .viewProfile:hover{
  transition: background-color 1.4s ease-out;
  background-color: #333;
  transition: color 1.6s ease-out;
  color: white;
}

.viewProfile a{
  color: black;
  text-decoration: none;
}

.aboutContent{
  width: 90%;
  margin: auto; 
}

.aboutHeader{
  text-align: center;
  margin-top: 80px;
  text-decoration: underline;
}

.aboutImg{
  float: left;
  margin-right: 10px;
  width: 320;
  border: 1px solid black;
  border-radius: 20px;
}

.aboutInfo{
  font-size: 1.4em;
}

.aboutFooter{
  width: inherit;
  text-align: center;
  position: absolute;
  bottom: 10px;
  font-size: 1em;
}

.aboutLink{
  color: red;
}

.aboutLink:hover{
  color: white;
}

.aboutLink:visited{
  color: green;
}

#mainfooter{
  width: 90%;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

.ad{
  width: 700px;
  border: 1px solid black;
}